/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* COMMON */
* {
  font-family: "Montserrat", sans-serif;
}
.app-wrapper {
  width: 100%;
  height: 100vh;
  background-color: lightcoral;
}
main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  /* Test */
  background-color: aquamarine;
}
footer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  color: white;
  /* Test */
  background-color: aqua;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* -------------- */
/* -----HEADER----*/
/* -------------- */
header {
  height: 100px;
  width: calc(100%-250px);
  position: fixed;
  top: 0;
  right: 0;
  /* Test */
  background-color: rgba(0, 0, 0, 0.5);
}
.section-container {
  width: 95%;
  margin: 0 auto;
}

/* -------------- */
/* -----MAIN----*/
/* -------------- */

/* SIDE NAV */
.side-nav {
  width: 250px;
  flex-shrink: 0;
  overflow-y: hidden;
  /* Test */
  background-color: darkcyan;
}

/* MAIN CONTENT */
.main-content {
  width: calc(100%-250px);
  overflow-y: auto;
  padding-top: 100px;
  /* Test */
  background-color: bisque;
}
/* Main Nav */
.main-nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.main-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-ul li {
  padding: 0 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-ul a {
  color: grey;
}
.main-nav-hr {
  display: block;
  width: 3rem;
  height: 1px;
  border: 0;
  border-top: 1px solid red;
  margin: 1em 0;
  padding: 0;
}
.main-ul a:hover {
  color: white;
}
/* Recently Played */
.rec {
  background-color: cornflowerblue;
}
.rec-columns {
  display: flex;
  justify-content: space-between;
}
.rec-col {
  width: calc((100% / 6) - 0.5rem);
  height: 100%;
  /* Test */
  border: 1px dotted red;
}
.rec-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* ----------- */
/* MEDIA QUERY */
/* ----------- */

/* Da qui Tablet */
@media screen and (max-width: 1100) {
  .rec-columns {
    flex-wrap: wrap;
  }
  .rec-col {
    width: calc((100% / 4) - 0.5rem);
  }
}
